.hero{
height:80vh;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
display:flex;
align-items:center;
padding-left:80px;
color:white;
transition: background-image 1s ease-in-out;
}

.hero-content h1{
font-size:60px;
font-weight:bold;
}

.hero-content p{
font-size:20px;
margin-top:10px;
}